.tooltip {
  cursor: pointer;
  font-weight: bold;
}

#main {
  width: 70%;
  max-width: 70%;
  
  margin: 0 auto;
}

#navBar {
  width: 10%;
  max-width: 10%;
  min-height: 300px;

  float: left;

  padding: 15px;

  border: 4px ridge #CCCCCC;
  border-radius: 10px;

  background-color: #e9e9e9;
}

#navBar ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

#content {
  width: 80%;
  max-width: 80%;
  min-height: 500px;

  float: left;

  padding: 5px;

  border: 4px ridge #CCCCCC;
  border-radius: 10px;

  background-color: #e9e9e9;
}

#heading {
  text-align: center;
}

#tabs {
  min-height: 50%;
}

#footer {
  position: fixed;
  bottom: 0;

  width: 100%;

  text-align: center;
}

.code {
  tab-size: 2;
}

.diagram {
  text-align: center;

  border: 1px solid #D4D4D4;
}