/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-radiogroup{
	font: normal 12px Arial, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;	
}
.zui-radiogroup li{
	margin: 2px 0;
	padding: 2px 0 2px 20px;
}
.zui-radiogroup-inline li{
	display: inline;
}
.zui-radiogroup-checked,
.zui-radiogroup li[aria-checked="true"]{
	background: url(img/zui-radio-checked.png) 0 0 no-repeat;
}
.zui-radiogroup-unchecked,
.zui-radiogroup li[aria-checked="false"]{
	background: url(img/zui-radio.png) 0 0 no-repeat;
}
.zui-radiogroup-selected{
	
}