/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-spinner{}
.zui-spinner-holder{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #C5C5C5;
	display: inline-block;
	height: 27px;
	overflow: hidden;
	position: relative;
}
.zui-spinner-input{
	background-color: #fff;
	border: none;
	color: #000;
	font: normal 12px/12px Arial, sans-serif;
	margin: 0;
	overflow: hidden;
	outline: none;
	padding: 6px 0;
	text-align: right;
}
.zui-spinner-focus{
	border: solid 1px #ABABAB;
}
.zui-spinner-up,
.zui-spinner-down{
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top,  #F7F7F7 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F7F7F7 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	
	border-left: solid 1px #c5c5c5;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0;
	width: 23px;
	height: 13px;
}
.zui-spinner-up{
	top: 0;
}
.zui-spinner-down{
	border-top: solid 1px #c5c5c5;
	top: 13px;
}
.zui-spinner-up span,
.zui-spinner-down span{
	display: block;
	width: 13px;
	height: 8px;
	margin: 3px 0 0 4px;
	
}
.zui-spinner-up span{
	background: url(img/zui-selectbox.png) 0 0 no-repeat;
}
.zui-spinner-down span{
	background: url(img/zui-selectbox.png) 0 -24px no-repeat;
}
.zui-spinner-up-hover,
.zui-spinner-down-hover{
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #e3e3e3 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e3e3e3 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e3e3e3 0%,#f7f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e3e3e3 0%,#f7f7f7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e3e3e3 0%,#f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}
.zui-spinner-up-hover span{
	background: url(img/zui-selectbox.png) 0 -8px no-repeat;
}
.zui-spinner-down-hover span{
	background: url(img/zui-selectbox.png) 0 -16px no-repeat;
}
.zui-spinner-up-click,
.zui-spinner-down-click{
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #d1d1d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#d1d1d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#d1d1d1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#d1d1d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}
.zui-spinner-up-click span{
	margin-top: 2px;
}
.zui-spinner-down-click span{
	margin-top: 4px;
}
[aria-invalid="true"]{
	color: red;
}