/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-rating{
	background-color: transparent;
	background-image: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.zui-rating .zui-rating-star:link,
.zui-rating .zui-rating-star:visited,
.zui-rating .zui-rating-star:active,
.zui-rating .zui-rating-star:focus,
.zui-rating .zui-rating-star:hover{
	background-color: transparent;
	background-image: none;
	cursor: pointer;
	display: block;
	height: 12px;
	float: left;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	width: 15px;
}
.zui-rating .zui-rating-star span{
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaeaea 0%, #d6d6d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaeaea 0%,#d6d6d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaeaea 0%,#d6d6d6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaeaea 0%,#d6d6d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
	
	border: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 6px;
	display: block;
	height: 12px;
	width: 12px;
}
.zui-rating .zui-rating-star-selected span{
	background: #5DC1E4; /* Old browsers */
	background: -moz-linear-gradient(top,  #5DC1E4 0%, #3AA8FF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5DC1E4), color-stop(100%,#3AA8FF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5DC1E4 0%,#3AA8FF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5DC1E4 0%,#3AA8FF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5DC1E4 0%,#3AA8FF 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5DC1E4 0%,#3AA8FF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5DC1E4', endColorstr='#3AA8FF',GradientType=0 ); /* IE6-9 */
}
.zui-rating .zui-rating-star-focus span{
	background: #EED592; /* Old browsers */
	background: -moz-linear-gradient(top,  #EED592 0%, #CFAD70 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EED592), color-stop(100%,#CFAD70)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #EED592 0%,#CFAD70 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #EED592 0%,#CFAD70 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #EED592 0%,#CFAD70 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #EED592 0%,#CFAD70 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EED592', endColorstr='#CFAD70',GradientType=0 ); /* IE6-9 */
}
.zui-rating .zui-rating-star-disabled:link,
.zui-rating .zui-rating-star-disabled:visited,
.zui-rating .zui-rating-star-disabled:active,
.zui-rating .zui-rating-star-disabled:focus,
.zui-rating .zui-rating-star-disabled:hover{
	cursor: default;
}