/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-combobox{}
.zui-combobox-wrapper{
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top,  #F7F7F7 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F7F7F7 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	border: solid 1px #C5C5C5;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}
.zui-combobox-trigger{
	cursor: pointer;
	display: block;
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
	width: 23px;
}
.zui-combobox-trigger span{
	background: url(img/zui-selectbox.png) 0 -24px no-repeat;
	display: block;
	height: 8px;
	position: absolute;
	right: 5px;
	top: 8px;
	width: 13px;
}
.zui-combobox-trigger:hover{
	
}
.zui-combobox-trigger:hover span{
	background-position: 0 -16px;
}
.zui-combobox-combo{
	border: none;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	background-color: #fff;
	height: 16px;
	margin: 2px 15px 2px 3px;
	width: 200px;
	outline: none;
}
.zui-combobox-list{
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	list-style: none;
	margin: 0;
	padding: 0;
	border: solid 1px #C5C5C5;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
	height: 300px;
	width: 100%;
	font: normal 12px Arial, sans-serif;
}
.zui-combobox-item{
	background-color: #fff;
	color: #000;
	padding: 5px 2px;
	cursor: pointer;
}
.zui-combobox-item-hover,
.zui-combobox-item-selected{
	background-color: #ECECEE;
}
