/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-datatable-table{
	border-collapse: separate;
	border-spacing: 0;
	border: solid 1px #C5C5C5;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: normal;
	margin: 1px;
	padding: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
}
.zui-datatable-table,
.zui-datatable-table th,
.zui-datatable-table td {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zui-datatable-table thead tr{
	background: #F7F7F7;
	background: -moz-linear-gradient(top,  #F7F7F7 0%, #e3e3e3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#e3e3e3));
	background: -webkit-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%);
	background: -o-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%);
	background: -ms-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%);
	background: linear-gradient(to bottom,  #F7F7F7 0%,#e3e3e3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#e3e3e3',GradientType=0 );
}
.zui-datatable-table thead th{
	font-weight: bold;
	color: #000;
	padding: 5px;
	text-align: left;
}
.zui-datatable-table tbody td{
	color: #000;
	font-weight: normal;
	padding: 5px;
	text-align: left;
}
.zui-datatable-thead{}
.zui-datatable-tbody{}
.zui-datatable-tfoot{}
.zui-datatable-th{}
.zui-datatable-td{}
.zui-datatable-even{
	background-color: #F6F6F6;
}
.zui-datatable-odd{
	background-color: #ECECEE;
}
.zui-datatable-hover{
	background-color: #D2D2D2;
}