/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-splitter{
	position: relative;
}
.zui-splitter-pane{
	overflow: auto;
}
.zui-splitter-pane-horizontal{

}
.zui-splitter-pane-vertical{

}
.zui-splitter-separator{
	background-color: #ccc;
	position: absolute;
	z-index: 9999;
}
.zui-splitter-separator-horizontal{
	height: auto;
}
.zui-splitter-separator-vertical{
	width: auto;
}
.zui-splitter-separator-vertical.zui-splitter-separator-draggable{
	cursor: n-resize;
}
.zui-splitter-separator-horizontal.zui-splitter-separator-draggable{
	cursor: e-resize;
}
.zui-splitter-separator-collapsed{
	cursor: default !important;
}
.zui-splitter-collapsible{
	background-color: #999;
	cursor: pointer;
	display: inline-block;
	position: absolute;
}
.zui-splitter-collapsible-horizontal{
	height: 20px;
	left: 0;
	margin-top: -10px;
	top: 50%;
	width: inherit;
}
.zui-splitter-collapsible-vertical{
	height: inherit;
	top: 0;
	left: 50%;
	margin-left: -10px;
	width: 20px;
}