/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-accordion{}
.zui-accordion-title{
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top,  #F7F7F7 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F7F7F7 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	border: 1px solid #C5C5C5;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 1px #fff;
	box-shadow: inset 0 0 1px #fff;
	color: #000;
	cursor: pointer;
	font: bold 12px Arial, sans-serif;
	padding: 5px 10px;
	margin: 1px 0 0;
}
.zui-accordion-content{
	background: #fff;
	border-left: solid 1px #C5C5C5;
	border-right: solid 1px #C5C5C5;
	border-bottom: solid 1px #C5C5C5;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #000;
	font: normal 12px/18px Arial, sans-serif;
	padding: 10px;
}
[aria-selected="true"] {
	border-bottom: none;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}