/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-tabs{
	
}
.zui-tabs-holder{
	border: 1px solid #C5C5C5;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 12px Arial, sans-serif;
	padding: 1px;
}
.zui-tabs-header{
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top,  #F7F7F7 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F7F7F7 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid #C5C5C5;
	height: 20px;
	margin: 0;
	padding: 4px 0 0 10px;
}
.zui-tabs-header li{
	border-bottom: none !important;
	float: left;
	list-style: none;
	margin: 0 4px 0 0;
}
.zui-tabs-header a:link,
.zui-tabs-header a:visited{
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top,  #F7F7F7 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F7F7F7 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */

	color: #000;	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: solid 1px #DFDFDF;
	border-bottom: none;
	margin: 0;
	padding: 0 10px;
	display: block;
	float: left;
	height: 19px;
	line-height: 19px;
	text-decoration: none;
	white-space: nowrap;
}
.zui-tabs-header a:active,
.zui-tabs-header a:hover{
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

	border: solid 1px #C5C5C5;
	border-bottom: none;
}
.zui-tabs-focus a:link,
.zui-tabs-focus a:active,
.zui-tabs-focus a:visited{
	background: #fff;
	border: solid 1px #C5C5C5;
	border-bottom: none;
	height: 20px;
	line-height: 20px;
}
.zui-tabs-header .zui-tabs-disabled a{
	color: #777;
	opacity: 0.6;
}
.zui-tabs-box{
	color: #000;
	padding: 10px;
}