/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-grid{
	border-collapse: separate;
	border: solid 1px #e4e4e4;
	height: 100%;
	width: 100%;
}
.zui-grid caption{
    background: #F7F7F7;
    background: -moz-linear-gradient(top,  #F7F7F7 0%, #e3e3e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#e3e3e3));
    background: -webkit-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%);
    background: -o-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%);
    background: -ms-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%);
    background: linear-gradient(to bottom,  #F7F7F7 0%,#e3e3e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#e3e3e3',GradientType=0 );
    border: solid 1px #e4e4e4;
    border-bottom: none;
    font-weight: bold;
    padding: 7px 5px;
    text-align: left;
}
.zui-grid th{
    background: #F7F7F7;
	border-left: solid 1px #fff;
	border-right: solid 1px #e5e2e2;
	empty-cells: show;
	font-weight: 500;
	padding: 7px 5px;
	text-align: left;
}
.zui-grid th:last-child{
    border-right: none;
}
.zui-grid td {
    border: solid 1px #ccc;
    border: none;
    border-top: solid 1px #e5e2e2;
    padding: 7px 5px;
    empty-cells: show;
    word-break: break-all;
}
.zui-grid .zui-grid-sortable{
    cursor: pointer;
}
.zui-grid .zui-grid-up:after{
    content: "\02191";
    display: inline-block;
    padding-left: 10px;
}
.zui-grid .zui-grid-down:after{
    content: "\02193";
    display: inline-block;
    padding-left: 10px;
}
.zui-grid .zui-grid-row{}
.zui-grid .zui-grid-row:hover{
    background-color: #e9e9e9;
}
.zui-grid .zui-grid-row-even{
	background-color: #ffffff;
}
.zui-grid .zui-grid-row-odd{
	background-color: #f6f6f6;
}
.zui-grid-button{
    display: inline-block;
}
.zui-grid-input{
    width: 50px;
}
.zui-grid-select{

}