/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-editable{

}
.zui-editable-wrapper{
	background-color: #F7F7F7;
	border: 1px solid #C5C5C5;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 5px;
	position: absolute;
}
.zui-editable-control{
	outline: none;
	background-color: #fff;
	border: solid 1px #C5C5C5;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 2px;
}
.zui-editable-button{

}