/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-checkbox{
	font: normal 12px Arial, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;	
}
.zui-checkbox li{
	margin: 2px 0;
	padding: 2px 0 2px 20px;
}
.zui-checkbox-inline li{
	display: inline;
}
.zui-checkbox-checked,
.zui-checkbox li[aria-checked="true"]{
	background: url(img/zui-checkbox-checked.png) 0 2px no-repeat;
}
.zui-checkbox-unchecked,
.zui-checkbox li[aria-checked="false"]{
	background: url(img/zui-checkbox.png) 0 2px no-repeat;
}
.zui-checkbox-focus{
	
}
.zui-checkbox-hover{
	
}