/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-treeview{
	font: normal 12px Arial, sans-serif;
}
.zui-treeview-list-root,
.zui-treeview-list{
	color: #000;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0 0 0 10px;
}
.zui-treeview-list-root{
	display: block;
}
.zui-treeview-item{
	margin: 1px 0 0 0;
	/*outline: none;*/
}
.zui-treeview-label{
	border: 1px solid transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	padding: 3px 5px;
}
.zui-treeview-label-hover{
	background: transparent;
	border: 1px solid #C5C5C5;
}
.zui-treeview-label-selected{
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top,  #F7F7F7 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F7F7F7 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	border: 1px solid #C5C5C5;
	color: #000;
}
.zui-treeview-arrow{
	cursor: pointer;
	float: left;
	width: 16px;
	height: 16px;
	margin: 3px 0 0;
}
.zui-treeview-arrow-collapse{
	background: url(img/zui-treeview-collapse.png) 0 0 no-repeat;
}
.zui-treeview-arrow-expand{
	background: url(img/zui-treeview-expand.png) 0 0 no-repeat;
}