/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-slideshow{
	overflow: hidden;
	position: relative;
	z-index: 5;
}
.zui-slideshow-box{
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
}
.zui-slideshow-box .zui-slideshow-item{
	border: none;
	float: left;
	z-index: 1;
}
.zui-slideshow-nav, 
.zui-slideshow-control{
	background-color: #fdfdfd;
	/*box-shadow: 1px 1px 1px #555;*/
	border-radius: 5px;
	bottom: 10px;
	overflow: hidden;
	padding: 7px 10px;
	position: absolute;
	z-index: 10;
}
.zui-slideshow-nav{
	right: 10px;
}
.zui-slideshow-nav a:link, .zui-slideshow-nav a:visited, .zui-slideshow-nav a:active{
	float: left;
	background-color: #666;
	border-radius: 5px;
	box-shadow: inset 1px 1px #333;
	display: block;
	margin: 0 5px;
	outline: none;
	width: 8px;
	height: 8px;	
}
.zui-slideshow-nav a:hover{}
.zui-slideshow-nav a.zui-slideshow-nav-focus{
	background-color: #222;
	box-shadow: inset 1px 1px 1px #000;
}
.zui-slideshow-control{
	left: 10px;
}
.zui-slideshow-control a:link, .zui-slideshow-control a:visited, .zui-slideshow-control a:active{

}
.zui-slideshow-control a:hover{

}
.zui-slideshow-play, .zui-slideshow-stop{
	display: block;
	float: left;
	margin: 0 5px;
	outline: none;
}
.zui-slideshow-play{
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #666;
	box-shadow: inset 1px 1px #333;
}
.zui-slideshow-stop{
	background-color: #666;
	box-shadow: inset 1px 1px #333;
	height: 8px;
	width: 7px;
}
.zui-slideshow-arrow{
	background-color: #fff;
	outline: none;
	position: absolute;
	z-index: 10;
}
.zui-slideshow-prev, .zui-slideshow-next{
	height: 40px;
	top: 50%;
	margin: -20px 0 0;
	width: 34px;
}
.zui-slideshow-prev{
	background: #fff url(img/zui-prev.png) center center no-repeat;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	left: 0;
}
.zui-slideshow-next{
	background: #fff url(img/zui-next.png) center center no-repeat;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	right: 0;
}
.zui-slideshow-up, .zui-slideshow-down{
	height: 35px;
	left: 50%;
	margin: 0 0 0 -20px;
	width: 40px;
}
.zui-slideshow-up{
	background: #fff url(img/zui-up.png) center center no-repeat;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	top: 0;
}
.zui-slideshow-down{
	background: #fff url(img/zui-down.png) center center no-repeat;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	bottom: 0;
}