/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-slider{
	position: relative;
	height: 16px;
}
.zui-slider-vertical{
	width: 16px;
}
.zui-slider-handle{
	background: transparent url(img/zui-slider-handle.png) 0 0 no-repeat;
	display: block;
	height: 16px;
	position: absolute;
	width: 16px;
	z-index: 100;
}
.zui-slider-vertical .zui-slider-handle{
	background: transparent url(img/zui-slider-handle.png) 0 0 no-repeat;
}
.zui-slider-handle-active,
.zui-slider-vertical .zui-slider-handle-active{
	background-position: 0 -16px;
}
a.zui-slider-handle-focus{
	outline: auto 5px #E59700;
}
.zui-slider-left{
	left: 10px;
	top: 0;
}
.zui-slider-right{
	right: 10px;
	top: 0;
}
.zui-slider-up{
	left: 0;
	top: 10px;
}
.zui-slider-down{
	left: 0;
	bottom: 10px;
}
.zui-slider-scale{
	border-top: solid 1px #444;
	border-bottom: solid 1px #555;
	background-color: #777;
	border-radius: 4px;
	height: 6px;
	position: absolute;
	left: 0;
	top: 4px;
	width: 100%;
	z-index: 98;
}
.zui-slider-vertical .zui-slider-scale{
	border: none;
	border-left: solid 1px #444;
	border-right: solid 1px #555;
	height: 100%;
	left: 4px;
	top: 0;
	width: 6px;
}
.zui-slider-range{
	border-top: solid 1px #969696;
	border-bottom: solid 1px #7C7C7C;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top,  #F7F7F7 0%, #D6D6D6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#D6D6D6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F7F7F7 0%,#D6D6D6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F7F7F7 0%,#D6D6D6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F7F7F7 0%,#D6D6D6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F7F7F7 0%,#D6D6D6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#D6D6D6',GradientType=0 ); /* IE6-9 */

	height: 6px;
	position: absolute;
	left: 0;
	top: 4px;
	width: 100%;
	z-index: 99;
}
.zui-slider-vertical .zui-slider-range{
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(left,  #F7F7F7 0%, #D6D6D6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F7F7F7), color-stop(100%,#D6D6D6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #F7F7F7 0%,#D6D6D6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #F7F7F7 0%,#D6D6D6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #F7F7F7 0%,#D6D6D6 100%); /* IE10+ */
	background: linear-gradient(to right,  #F7F7F7 0%,#D6D6D6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#D6D6D6',GradientType=1 ); /* IE6-9 */
	
	border: none;
	border-left: solid 1px #969696;
	border-right: solid 1px #7C7C7C;
	height: 100%;
	left: 4px;
	top: 0;
	width: 6px;
}