/*!
 * ZinoUI v1.4.2 (http://zinoui.com)
 * Copyright 2012-2015 Dimitar Ivanov. All Rights Reserved.
 * 
 * Zino UI commercial licenses may be obtained at http://zinoui.com/license
 * If you do not own a commercial license, this file shall be governed by the
 * GNU General Public License (GPL) version 3.
 * For GPL requirements, please review: http://www.gnu.org/copyleft/gpl.html
 */
.zui-menubar{
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top,  #F7F7F7 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F7F7F7 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F7F7F7 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	border: solid 1px #C5C5C5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	font: normal 12px Arial, sans-serif;
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
	position: relative;
}
.zui-menubar a:link, 
.zui-menubar a:active,
.zui-menubar a:visited,
.zui-menubar a:hover,
.zui-menubar a:focus{
	color: #555;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0 10px;
	text-decoration: none;
	white-space: nowrap;
}
.zui-menubar-horizontal{
	background-color: #ccc;
	height: 28px;
	line-height: 28px;
	width: 100%;
}
.zui-menubar-horizontal .zui-menubar-item{
	float: left;
}
.zui-menubar-horizontal .zui-menu{
	background-color: #ddd;
	border: solid 1px #C5C5C5;
	border-top: none;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	list-style: none;
	margin: 0 0 0 -2px;
	padding: 0;
	position: absolute;
	z-index: 9999;
}
.zui-menubar-horizontal .zui-menu-item{
	float: none;
}
.zui-menubar-item{
	border-left: solid 1px #F1F1F1;
	border-right: solid 1px #c5c5c5;
}
.zui-menubar-item:hover,
.zui-menubar-item-hover{
	background: #e3e3e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #e3e3e3 0%, #ddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e3e3e3 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e3e3e3 0%,#ddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e3e3e3 0%,#ddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e3e3e3 0%,#ddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ddd',GradientType=0 ); /* IE6-9 */
	border-left: solid 1px #ddd;
}
.zui-menu-item-hover{
	background-color: #C3C3C3;	
}
.zui-menubar-item-disabled,
.zui-menubar-item-disabled a:link,
.zui-menubar-item-disabled a:active,
.zui-menubar-item-disabled a:visited,
.zui-menubar-item-disabled a:hover,
.zui-menubar-item-disabled a:focus{
	color: #A6A6A6;
	cursor: default;
}

/* Vertical */
.zui-menubar-vertical{
	background-color: #ccc;
	line-height: 28px;
	width: 100%;
}
.zui-menubar-vertical .zui-menubar-item{
	border-left: none;
	border-right: none;
	border-top: solid 1px #F1F1F1;
	border-bottom: solid 1px #c5c5c5;
	position: relative;
}
.zui-menubar-vertical .zui-menubar-item:last-child{
	border-bottom: none;
}
.zui-menubar-vertical .zui-menu{
	background-color: #ddd;
	border: solid 1px #C5C5C5;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	list-style: none;
	margin: -2px 0 0 0;
	padding: 0;
	position: absolute;
	z-index: 9999;
	left: 100%;
	top: 0;
	width: 100%;
}
.zui-menubar-vertical .zui-menu-item{
	border-top: solid 1px #F1F1F1;
	border-bottom: solid 1px #c5c5c5;
}
.zui-menubar-vertical .zui-menu-item:last-child{
	border-bottom: none;
}
.zui-menubar-vertical .zui-menu-item-hover{
	background-color: #D0D0D0;
	border-top: solid 1px #e4e4e4;
}